.navigation {
    background-color: black;
    overflow: hidden;
}
.link {
    color: rgb(186, 230, 250);
}
html, body {
    width: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 20px;
}